.product-container{
    width: 90%;
    height: 80vh;
    color: white;
    background-color: black;
    border: solid .1rem rgb(var(--active-color));
    display: flex;
    overflow: hidden;
}
.product-container .image-container{
    height: 100%;
    background-color: rgb(68, 64, 64);
    width: 50%;
    display: flex;
    overflow: hidden;
    border-right: solid .1rem rgb(var(--active-color));
}

.product-container  img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-container .text-data-container {
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.product-container .text-data-container .mini-nav{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    top:0;
    position: sticky;
    border-bottom: solid .1rem rgb(var(--active-color));

}
.product-container .text-data-container .mini-nav ul {
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.9);
    width: 100%;
    /* background-color: blue; */
}
.product-container .text-data-container .mini-nav ul li{
    list-style: none;
    text-align: center;
    flex: 1;
    position: relative;
}
.product-container .text-data-container .mini-nav ul li label{
    display: block;
    text-decoration: none;
    color: rgb(var(--active-color));
    /* color: antiquewhite; */
    padding: .5rem;
    /* background-color: aqua; */
    margin: 0 ;
    position: relative;
    z-index: 1;
    
}

.product-container .text-data-container .mini-nav ul li input[type="radio"] {
	display: none;
}
.product-container .text-data-container .mini-nav ul li input[type="radio"]:checked + label {
    color: white;
}


.mini-nav ul .glider {
    position: absolute;
    height: 2.2rem; 
    transition: transform 0.3s ease, width 0.3s ease;
    width: calc(100% / 3); 
    background-color:  rgb(var(--active-color));
    transition: 0.25s ease-out;
}
.main-text-content{
    padding: .5rem;
    height: calc(100% - 15rem);
}
.main-text-content h4{
    color: rgb(var(--active-color));
}
.main-text-content .text-content{
    margin-top: .5rem;
}
.main-text-content .text-content li{
    list-style: none;
}
.main-text-content .text-content .text-section{
    padding-top: .5rem;
}

.main-text-content .revs{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-text-content .user-in form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.main-text-content .user-in form .former{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: .5rem;
}
.main-text-content .user-in form .former .topper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: .5rem;
}
.main-text-content .user-in form textarea{
    width: 100%;
    background-color: black;
    color: white;
    border: rgb(var(--active-color)) solid .1rem;
    padding: .5rem;
    border-radius: 10px;
}
.main-text-content .user-in form input{
    width: 58%;
    background-color: black;
    color: white;
    border: rgb(var(--active-color)) solid .1rem;
    padding: .5rem;
    border-radius: 10px;
}
.main-text-content .user-in form button{
    position: relative;
    display: block;
    width: 20%;
    margin: 0.5rem 0;
    padding: 2.8em 1em 3em;
    cursor: pointer;
    border: none;
    background-color: #33312e;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color:  #f85419;
    text-shadow:0 0 20px ;
    box-shadow: inset 0.1em -0.2em 0 4px #1d1b1b, inset -0.1em -0.2em 0 4px #1d1b1b, inset 0.08em -0.18em 0 5px #1d1b1b, inset -0.08em -0.18em 0 5px #1d1b1b, 0 0 4rem 0.5rem rgba(var(--active-color), 0.5);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: all 90ms ease-in-out;
}
.main-text-content .user-in form button:active {
    padding: 3em 1em 2.8em;
    box-shadow: inset 0.05em -0.15em 0 4px #1d1b1b, inset -0.05em -0.15em 0 4px #1d1b1b, inset 0.03em -0.13em 0 5px #1d1b1b, inset -0.03em -0.13em 0 5px #1d1b1b,  0 0em .1rem .1rem rgba(var(--active-color), 0.2);
    outline: none;
}